@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
/* border: 5px solid red; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background-color: #1b1b1b;
  color: #edf0f1;
}
h1,
h2,
h3 {
  font-weight: 700;
  color: #edf0f1;
}

p,
a {
  font-weight: 500;
  color: #edf0f1;
}
main {
  max-width: 1080px;
  margin: auto;
  padding: 0 24px;
}
section {
  margin: 10% 0;
}
img {
  width: inherit;
}
button {
  background-color: #edf0f1;
  border: none;
  color: #1b1b1b;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Navbar */
header {
  max-width: 1080px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 16px 24px 0;
  gap: 16px;
}
.nav-brand {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.nav-items {
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 16px 48px;
}
.nav-buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 960px) {
  header {
    flex-flow: wrap;
  }
  .nav-items {
    order: 3;
    flex-basis: 100%;
    flex-flow: wrap;
    justify-content: flex-start;
  }
  .nav-buttons {
    order: 2;
  }
  .container {
    flex-flow: wrap;
  }
}
/* Gallery */
.gallery {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 24px;
}
.item-gallery {
  width: 150px;
  height: 140px;
  background-color: #242424;
  border-radius: 6px;
  padding: 12px;
}
.container {
  display: flex;
}
.left {
  width: 100%;
}
.right {
  width: 100%;
}
.plyr {
  border-radius: 10px;
}
